## Importing the dpendencies

In [2]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
# importing the models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

## Data Collection

In [3]:
data = pd.read_csv("heart_disease_data.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
# the destribution of target variable 
data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

## Splitting the Features & Target

In [17]:
x = data.drop(columns='target',axis=1)
y = data['target']

## Train Test Split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=3)
print(x.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

## Comparing the performance of the models

In [9]:
# list of models
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [18]:
# Model Selection
def compare_models_train_test ():
    for model in models:
        # Training the model
        model.fit(x_train,y_train)
        # Evaluating the model
        test_data_prediction = model.predict(x_test)
        accuracy = accuracy_score(y_test,test_data_prediction)
        print('Accuracy Score of the ',model ,'= ',accuracy)

In [19]:
compare_models_train_test ()

Accuracy Score of the  LogisticRegression(max_iter=1000) =  0.7868852459016393
Accuracy Score of the  SVC(kernel='linear') =  0.7704918032786885
Accuracy Score of the  KNeighborsClassifier() =  0.6557377049180327
Accuracy Score of the  RandomForestClassifier() =  0.7704918032786885

# Cross Validation

In [16]:
# LogisticRegression
CV_scores_LR = cross_val_score(LogisticRegression(max_iter=1000),x,y,cv=5)
print(CV_scores_LR)
mean_accuracy_LR = sum(CV_scores_LR)/len(CV_scores_LR)
mean_accuracy_LR = mean_accuracy_LR*100
mean_accuracy_LR = round(mean_accuracy_LR,2)
print('Mean Accuracy Score of LogisticRegression: ',mean_accuracy_LR)
print('---------------------------------------------------')

# SVC
CV_scores_SVC = cross_val_score(SVC(kernel='linear'),x,y,cv=5)
print(CV_scores_SVC)
mean_accuracy_SVC = sum(CV_scores_SVC)/len(CV_scores_SVC)
mean_accuracy_SVC = mean_accuracy_SVC*100
mean_accuracy_SVC = round(mean_accuracy_SVC,2)
print('Mean Accuracy Score of SVC: ',mean_accuracy_SVC)
print('---------------------------------------------------')

# KNeighborsClassifier
CV_scores_KNC = cross_val_score(KNeighborsClassifier(),x,y,cv=5)
print(CV_scores_KNC)
mean_accuracy_KNC = sum(CV_scores_KNC)/len(CV_scores_KNC)
mean_accuracy_KNC = mean_accuracy_KNC*100
mean_accuracy_KNC = round(mean_accuracy_KNC,2)
print('Mean Accuracy Score of KNeighborsClassifier: ',mean_accuracy_KNC)
print('---------------------------------------------------')

# RandomForestClassifier
CV_scores_RFC = cross_val_score(RandomForestClassifier(),x,y,cv=5)
print(CV_scores_RFC)
mean_accuracy_RFC = sum(CV_scores_RFC)/len(CV_scores_RFC)
mean_accuracy_RFC = mean_accuracy_RFC*100
mean_accuracy_RFC = round(mean_accuracy_RFC,2)
print('Mean Accuracy Score of RandomForestClassifier: ',mean_accuracy_RFC)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Mean Accuracy Score of LogisticRegression:  82.83
---------------------------------------------------
[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean Accuracy Score of SVC:  82.83
---------------------------------------------------
[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean Accuracy Score of KNeighborsClassifier:  64.39
---------------------------------------------------
[0.78688525 0.85245902 0.80327869 0.8        0.8       ]
Mean Accuracy Score of RandomForestClassifier:  80.85

In [20]:
# Compare models with cross validation

models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

def compare_models_CV():
    for model in models:
        CV_Score = cross_val_score(model,x,y,cv=5)
        mean_accuracy = sum(CV_Score)/len(CV_Score)
        mean_accuracy = mean_accuracy*100
        mean_accuracy = round(mean_accuracy,2)
        print('Cross Vlidation Accuracies of: ',model,' = ',CV_Score)
        print('Mean Accuracy Score of: ',model,' = ',mean_accuracy)
        print('----------------------------------------------------------')

In [21]:
compare_models_CV()

Cross Vlidation Accuracies of:  LogisticRegression(max_iter=1000)  =  [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Mean Accuracy Score of:  LogisticRegression(max_iter=1000)  =  82.83
----------------------------------------------------------
Cross Vlidation Accuracies of:  SVC(kernel='linear')  =  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean Accuracy Score of:  SVC(kernel='linear')  =  82.83
----------------------------------------------------------
Cross Vlidation Accuracies of:  KNeighborsClassifier()  =  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean Accuracy Score of:  KNeighborsClassifier()  =  64.39
----------------------------------------------------------
Cross Vlidation Accuracies of:  RandomForestClassifier()  =  [0.81967213 0.86885246 0.81967213 0.85       0.76666667]
Mean Accuracy Score of:  RandomForestClassifier()  =  82.5
----------------------------------------------------------